h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

h3 {
  width: fit-content;
}

#gameArea {
  width: 960px;
  height: 540px;
  background: url("../res/img/background3.png");
  border: 2px black solid;
  position: relative;
}

.mario {
  width: 32px;
  height: 28px;
  background: url("../res/img/mario4.png");
  display: inline-block;
  position: absolute;
}

.pipe {
  width: 49px;
  height: 62px;
  background: url("../res/img/pipe2.png");
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 1;
}

#deathScreen {
  border: 2px black solid;
  margin: auto;
  width: fit-content;
  z-index: 2;
  margin-top: 200px;
  padding: 20px;
}

button {
  display: block;
  margin: auto;
}


td {
  width: 75px;
}
